body{
	margin: 0;
	text-align: center;
}

ul,
li.select-key,
li.note-btn {

  list-style-type: none;
  padding: 2px;
}

select.home-keyop, label {
	font-size: 30px;	
}

label, select {
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}

div.home-div
label,
select,
h3 {
	text-align: center;
}
.resp-answer {
	height: 45px;
}

button {
	background-color: pink;
}

.select-key-label {
	height: 90px;
	margin-bottom: 10px;
}


div.select-key-label > h3 {
	font-size: 70px;
}

span.roman-deg {
	color: maroon;
}

div.limiter {
	max-width: 800px;
	margin: auto;
}