<div ng-init="searchKey(theKey)"></div>

<h1>{{theKey}}</h1>
<h2>{{romanNumDeg}}</h2>
<h2>{{answer}}</h2>
<h2>{{dispDegree}}</h2>


<div class="col-xs-8">
      <ul class="col-xs-12">
        <li ng-repeat="note in noteNames" ng-click="respondings(note)" class="col-xs-4 note-btn"><button class="col-xs-12">{{note}}</button></li>
      </ul>
    </div>
<div class="col-xs-4">
      <ul class="col-xs-12">
        <li ng-repeat="mod in accidentals" ng-click="accihap(mod)" class="col-xs-12 acci-btn"><button class="col-xs-12">{{mod.sym}}</button></li>

      </ul>
    </div>

